.user-card {
    min-height: 220px !important;
}

.user-card__title {
    max-width: 140px;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-card__address {
    max-width: 120px !important;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-nat {
    min-width: 32px;
    max-width: 32px;
}

.user-photo-75 {
    position: relative;
    background: #fff;
    padding: 3px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.user-photo-75 img {
    width: 75px;
    border-radius: 50%;
}
